
<!-- Seeds Section -->

<app-dashboard-component></app-dashboard-component><br>
<div *ngIf="userType === 'administrator'">
<button class="add" type="button" (click)="add()">Add a Seed</button>
</div>
<!-- <button  type="button" (click)="showDtrue()" >back</button> -->
<div class="searchBy">
    <form>
      <select  class="search" name="search" [(ngModel)]="selectedSearchOption" (change)="onSearchOptionChange()">
        <option value="" disabled selected>Search By</option>
        <option value="id">ID</option>
        <option value="type">Type</option>
        <option value="name">Name</option>
    </select>
    <br><br><br>

       

        <!-- ID Search -->
        <div class="idsearch" *ngIf="selectedSearchOption === 'id' && showDrop">
          <form #seedForm="ngForm" (ngSubmit)="searchSeed()">
                <div class="form-group">
                    <input type="number" id="seedId" placeholder="Enter Seed ID" [(ngModel)]="seed.seedId"
                        name="seedId" required><br>
                        <div *ngIf="seedForm.controls['seedId'].invalid && (seedForm.controls['seedId'].dirty || seedForm.controls['seedId'].touched)">
                    <small class="text-danger" *ngIf="seedForm.controls['seedId'].hasError('required')"
                        class="error-message">Seed Id is required.</small>
                </div>
              </div>
                <button type="submit" [disabled]="seedForm.invalid">Search</button>
            </form><br>
        </div>

        <!-- Type Search -->
        <div *ngIf="selectedSearchOption === 'type'" class="idsearch">
            <form #seedForm="ngForm">
                <div class="form-group">
                    <input type="text" id="seedType" placeholder="Enter Seed Type"
                        [(ngModel)]="seed.typeOfSeed" name="seedType" required pattern="^[A-Za-z]+$"><br>
                    <div *ngIf="seedForm.controls['seedType'].invalid && (seedForm.controls['seedType'].dirty || seedForm.controls['seedType'].touched)">
                        <small class="text-danger" *ngIf="seedForm.controls['seedType'].hasError('required')"
                            class="error-message">Seed Type is required.</small>
                        <small class="text-danger" *ngIf="seedForm.controls['seedType'].hasError('pattern')"
                            class="error-message">Seed Type should contain alphabets.</small>
                    </div>
                </div>
                <button type="submit" [disabled]="seedForm.invalid"  (click)="searchSeedByType()">Search</button>
            </form><br>
        </div>

        <!-- Name Search -->
        <div *ngIf="selectedSearchOption === 'name'" class="idsearch">
          <form #seedForm="ngForm">
              <div class="form-group">
                  <input type="text" id="commonName" placeholder="Enter Common Name"
                      [(ngModel)]="seed.commonName" name="commonName" required pattern="^[A-Za-z]+$"><br>
                  <div *ngIf="seedForm.controls['commonName'].invalid && (seedForm.controls['commonName'].dirty || seedForm.controls['commonName'].touched)">
                      <small class="text-danger" *ngIf="seedForm.controls['commonName'].hasError('required')"
                          class="error-message">Common Name is required.</small>
                      <small class="text-danger" *ngIf="seedForm.controls['commonName'].hasError('pattern')"
                          class="error-message">Common Name should contain alphabets.</small>
                  </div>
              </div>
              <button type="submit" [disabled]="seedForm.invalid"  (click)="searchSeedByCommonName()">Search</button>
          </form><br>
      </div>
    </form>
</div> 


  <div>
    <div>
       <div class="planter-form" *ngIf="selection==='add'&& showMethod">
    <h2>Add Seed Details</h2>
    <form #addSeedForm="ngForm" >
    <div class ="form-group-form">
      <label for="commonName"></label>
      <input type="text" id="commonName" name="commonName" placeholder="Enter Seed Common Name" [(ngModel)]="seed.commonName" required  pattern="^[A-Za-z]+$">
      <div
      *ngIf="addSeedForm.controls['commonName'].invalid && (addSeedForm.controls['commonName'].dirty || addSeedForm.controls['commonName'].touched)">
      <small class="text-danger" *ngIf="addSeedForm.controls['commonName'].hasError('required')"
          class="error-message">Common name should not be empty.</small>
      <small class="text-danger" *ngIf="addSeedForm.controls['commonName'].hasError('pattern')"
          class="error-message">Common name should contain only letters.</small>
    </div>
    </div>
    <div class ="form-group-form">
      <label for="bloomTime"></label>
      <input type="text" id="bloomTime" name="bloomTime" placeholder="Enter Seed Bloom Time" [(ngModel)]="seed.bloomTime" required  pattern="^[A-Za-z]+$">
      <div
      *ngIf="addSeedForm.controls['bloomTime'].invalid && (addSeedForm.controls['bloomTime'].dirty || addSeedForm.controls['bloomTime'].touched)">
      <small class="text-danger" *ngIf="addSeedForm.controls['bloomTime'].hasError('required')"
      class="error-message">Bloom Time should not be empty.</small>
     <small class="text-danger" *ngIf="addSeedForm.controls['bloomTime'].hasError('pattern')"
      class="error-message">Bloom Time should contain only letters.</small>
    </div>
    </div>
    <div class ="form-group-form">
      <label for="watering"></label>
      <input type="text" id="watering" name="watering" placeholder="Enter Seed Watering" [(ngModel)]="seed.watering" required  pattern="^[A-Za-z]+$">
      <div
      *ngIf="addSeedForm.controls['watering'].invalid && (addSeedForm.controls['watering'].dirty || addSeedForm.controls['watering'].touched)">
      <small class="text-danger" *ngIf="addSeedForm.controls['watering'].hasError('required')"
      class="error-message">Watering should not be empty.</small>
     <small class="text-danger" *ngIf="addSeedForm.controls['watering'].hasError('pattern')"
      class="error-message">Watering should contain only letters.</small>
    </div>
    </div>
    <div class ="form-group-form">
      <label for="difficultyLevel"></label>
      <select id="difficultyLevel" name="difficultyLevel"  [(ngModel)]="seed.difficultyLevel" required >
        <option value="">select</option>
        <option value="EASY">Easy</option>
      <option value="MEDIUM">Medium</option>
      <option value="HARD">Hard</option>
      </select>
      <div
      *ngIf="addSeedForm.controls['difficultyLevel'].invalid && (addSeedForm.controls['difficultyLevel'].dirty || addSeedForm.controls['difficultyLevel'].touched)">
      <small class="text-danger" *ngIf="addSeedForm.controls['difficultyLevel'].hasError('required')"
          class="error-message">Difficulty level should be EASY, MEDIUM, or HARD.</small>
    </div>
    </div>
    <div class ="form-group-form">
      <label for="temperature"></label>
      <input type="text" id="temperature" name="temperature" placeholder="Enter Seed Temperature" [(ngModel)]="seed.temperature" required  pattern="^[A-Za-z0-9°]+$">
      <div
      *ngIf="addSeedForm.controls['temperature'].invalid && (addSeedForm.controls['temperature'].dirty || addSeedForm.controls['temperature'].touched)">
      <small class="text-danger" *ngIf="addSeedForm.controls['temperature'].hasError('required')"
          class="error-message">Temperature Field is mandatory.</small>
          <small class="text-danger" *ngIf="addSeedForm.controls['temperature'].hasError('pattern')"
          class="error-message">Temperature should contain only numbers and alphabets.</small>
    </div>
    </div>
    
    <div class ="form-group-form">
      <label for="typeOfSeed"></label>
      <input type="text" id="typeOfSeed" name="typeOfSeed" placeholder="Enter Type Of Seed" [(ngModel)]="seed.typeOfSeed" required  pattern="^[A-Za-z]+$">
      <div
      *ngIf="addSeedForm.controls['typeOfSeed'].invalid && (addSeedForm.controls['typeOfSeed'].dirty || addSeedForm.controls['typeOfSeed'].touched)">
      <small class="text-danger" *ngIf="addSeedForm.controls['typeOfSeed'].hasError('required')"
          class="error-message">Type of Seed field is mandatory.</small>
          <small class="text-danger" *ngIf="addSeedForm.controls['typeOfSeed'].hasError('pattern')"
          class="error-message">Type of Seed should contain only letters.</small>
    </div>
    </div>
    <div class ="form-group-form">
      <label for="description"></label>
      <input type="text" id="description" name="description" placeholder="Enter Seed Description" [(ngModel)]="seed.description" required  pattern="^[A-Za-z ]+$">
      <div
      *ngIf="addSeedForm.controls['description'].invalid && (addSeedForm.controls['description'].dirty || addSeedForm.controls['description'].touched)">
      <small class="text-danger" *ngIf="addSeedForm.controls['description'].hasError('required')"
      class="error-message">Description field is mandatory.</small>
      <small class="text-danger" *ngIf="addSeedForm.controls['description'].hasError('pattern')"
      class="error-message">Description should contain only letters.</small>
    </div>
    </div>
    <div class ="form-group-form">
      <label for="stock"></label>
      <input type="number" id="stock" name="stock" placeholder="Enter Seed Stock" [(ngModel)]="seed.stock" required min="1" max="3000">
      <div
      *ngIf="addSeedForm.controls['stock'].invalid && (addSeedForm.controls['stock'].dirty || addSeedForm.controls['stock'].touched)">
      <small class="text-danger" *ngIf="addSeedForm.controls['stock'].hasError('required')"
          class="error-message">Stock is required.</small>
          <small class="text-danger" *ngIf="addSeedForm.controls['stock'].hasError('min')"
          class="error-message12">Seed Stock must be greater than 0.</small>
          <small class="text-danger" *ngIf="addSeedForm.controls['stock'].hasError('max')"
          class="error-message12">Seed Stock must be less than or equal to 3000.</small>
    </div>
    </div>
    <div class ="form-group-form">
      <label for="cost"></label>
      <input type="number" id="cost" name="cost" placeholder="Enter Seed Cost" [(ngModel)]="seed.cost" required min="1" max="100000">
      <div
      *ngIf="addSeedForm.controls['cost'].invalid && (addSeedForm.controls['cost'].dirty || addSeedForm.controls['cost'].touched)">
      <small class="text-danger" *ngIf="addSeedForm.controls['cost'].hasError('required')"
          class="error-message">Cost is required.</small>
          <small class="text-danger" *ngIf="addSeedForm.controls['cost'].hasError('min')"
          class="error-message12">Cost must be greater than 0.</small>
          <small class="text-danger" *ngIf="addSeedForm.controls['cost'].hasError('max')"
          class="error-message">Cost must be less than or equal to 100000".</small>
    </div>
    </div>
    <div class ="form-group-form">
      <label for="seedsPerPacket"></label>
      <input type="number" id="seedsPerPacket" name="seedsPerPacket" placeholder="Enter Seeds Per Packet" [(ngModel)]="seed.seedsPerPacket" required min="1" max="100000">
      <div
      *ngIf="addSeedForm.controls['seedsPerPacket'].invalid && (addSeedForm.controls['seedsPerPacket'].dirty || addSeedForm.controls['seedsPerPacket'].touched)">
      <small class="text-danger" *ngIf="addSeedForm.controls['seedsPerPacket'].hasError('required')"
      class="error-message">Seeds Per Packet is required.</small>
      <small class="text-danger" *ngIf="addSeedForm.controls['seedsPerPacket'].hasError('min')"
          class="error-message">Seeds Per Packet must greater than zero".</small>
          <small class="text-danger" *ngIf="addSeedForm.controls['seedsPerPacket'].hasError('max')"
          class="error-message">Seeds Per Packet must less than or equal to 100000".</small>
    </div>
    </div>
     <div class ="form-group-form">
      <input type="number" id="PlanterId" name="PlanterId" placeholder="Enter Planter Id" [(ngModel)]="planter.planterId" required>
    </div>
  
</form>
    <button type="submit" (click)="addNewSeed()" [disabled]="addSeedForm.invalid">Add</button>
  <p> {{responseMsg}} </p>
 </div>
</div>
  </div>



<div>
  <div>
     <div class="planter-form" *ngIf="selection==='update' && showMethod">
  <h2>Update Seed Details</h2>
  <form #updateSeedForm="ngForm" (ngSubmit)="updateSeed()">
    <div class="form-group">
      <input type="number" id="seedId" placeholder="Enter Seed ID" [(ngModel)]="seed.seedId"
          name="seedId" required readonly><br>
        
</div>
  <div class ="form-group-form">
    <label for="commonName"></label>
    <input type="text" id="commonName" name="commonName" placeholder="Enter Seed Common Name" [(ngModel)]="seed.commonName" required  pattern="^[A-Za-z]+$">
    <div
    *ngIf="updateSeedForm.controls['commonName'].invalid && (updateSeedForm.controls['commonName'].dirty || updateSeedForm.controls['commonName'].touched)">
    <small class="text-danger" *ngIf="updateSeedForm.controls['commonName'].hasError('required')"
    class="error-message">Common name should not be empty.</small>
   <small class="text-danger" *ngIf="updateSeedForm.controls['commonName'].hasError('pattern')"
    class="error-message">Common name should contain only letters.</small>
  </div>
  </div>
  <div class ="form-group-form">
    <label for="bloomTime"></label>
    <input type="text" id="bloomTime" name="bloomTime" placeholder="Enter Seed Bloom Time" [(ngModel)]="seed.bloomTime" required pattern="^[A-Za-z]+$">
    <div
    *ngIf="updateSeedForm.controls['bloomTime'].invalid && (updateSeedForm.controls['bloomTime'].dirty || updateSeedForm.controls['bloomTime'].touched)">
    <small class="text-danger" *ngIf="updateSeedForm.controls['bloomTime'].hasError('required')"
    class="error-message">Bloom Time should not be empty.</small>
   <small class="text-danger" *ngIf="updateSeedForm.controls['bloomTime'].hasError('pattern')"
    class="error-message">Bloom Time should contain only letters.</small>
  </div>
  </div>
  <div class ="form-group-form">
    <label for="watering"></label>
    <input type="text" id="watering" name="watering" placeholder="Enter Seed Watering" [(ngModel)]="seed.watering" required pattern="^[A-Za-z]+$">
    <div
    *ngIf="updateSeedForm.controls['watering'].invalid && (updateSeedForm.controls['watering'].dirty || updateSeedForm.controls['watering'].touched)">
    <small class="text-danger" *ngIf="updateSeedForm.controls['watering'].hasError('required')"
    class="error-message">Watering should not be empty.</small>
   <small class="text-danger" *ngIf="updateSeedForm.controls['watering'].hasError('pattern')"
    class="error-message">Watering should contain only letters.</small>
  </div>
  </div>
  <div class ="form-group-form">
    <label for="difficultyLevel"></label>
    <select id="difficultyLevel" name="difficultyLevel"  [(ngModel)]="seed.difficultyLevel" required >
      <option value="">select</option>
      <option value="EASY">Easy</option>
    <option value="MEDIUM">Medium</option>
    <option value="HARD">Hard</option>
    </select>

    <div
    *ngIf="updateSeedForm.controls['difficultyLevel'].invalid && (updateSeedForm.controls['difficultyLevel'].dirty || updateSeedForm.controls['difficultyLevel'].touched)">
    <small class="text-danger" *ngIf="updateSeedForm.controls['difficultyLevel'].hasError('required')"
        class="error-message">Difficulty level should be EASY, MEDIUM, or HARD.</small>
  </div>
  </div>
  <div class ="form-group-form">
    <label for="temperature"></label>
    <input type="text" id="temperature" name="temperature" placeholder="Enter Seed Temperature" [(ngModel)]="seed.temperature" required pattern="^[A-Za-z0-9°]+$">
    <div
    *ngIf="updateSeedForm.controls['temperature'].invalid && (updateSeedForm.controls['temperature'].dirty || updateSeedForm.controls['temperature'].touched)">
    <small class="text-danger" *ngIf="updateSeedForm.controls['temperature'].hasError('required')"
    class="error-message">Temperature Field is mandatory.</small>
    <small class="text-danger" *ngIf="updateSeedForm.controls['temperature'].hasError('pattern')"
    class="error-message">Temperature should contain only numbers and alphabets.</small>
  </div>
  </div>
  <div class ="form-group-form">
    <label for="typeOfSeed"></label>
    <input type="text" id="typeOfSeed" name="typeOfSeed" placeholder="Enter Type Of Seed" [(ngModel)]="seed.typeOfSeed" required  pattern="^[A-Za-z]+$">
    <div
    *ngIf="updateSeedForm.controls['typeOfSeed'].invalid && (updateSeedForm.controls['typeOfSeed'].dirty || updateSeedForm.controls['typeOfSeed'].touched)">
    <small class="text-danger" *ngIf="updateSeedForm.controls['typeOfSeed'].hasError('required')"
    class="error-message">Type of Seed field is mandatory.</small>
    <small class="text-danger" *ngIf="updateSeedForm.controls['typeOfSeed'].hasError('pattern')"
    class="error-message">Type of Seed should contain only letters.</small>
  </div>
  </div>
  <div class ="form-group-form">
    <label for="description"></label>
    <input type="text" id="description" name="description" placeholder="Enter Seed Description" [(ngModel)]="seed.description" required  pattern="^[A-Za-z]+$">
    <div
    *ngIf="updateSeedForm.controls['description'].invalid && (updateSeedForm.controls['description'].dirty || updateSeedForm.controls['description'].touched)">
    <small class="text-danger" *ngIf="updateSeedForm.controls['description'].hasError('required')"
    class="error-message">Description field is mandatory.</small>
    <small class="text-danger" *ngIf="updateSeedForm.controls['description'].hasError('pattern')"
    class="error-message">Description should contain only letters.</small>
  </div>
  </div>
  <div class ="form-group-form">
    <label for="stock"></label>
    <input type="number" id="stock" name="stock" placeholder="Enter Seed Stock" [(ngModel)]="seed.stock" required min="1" max="3000">
    <div
    *ngIf="updateSeedForm.controls['stock'].invalid && (updateSeedForm.controls['stock'].dirty || updateSeedForm.controls['stock'].touched)">
    <small class="text-danger" *ngIf="updateSeedForm.controls['stock'].hasError('required')"
    class="error-message">Stock is required.</small>
    <small class="text-danger" *ngIf="updateSeedForm.controls['stock'].hasError('min')"
    class="error-message12">Seed Stock must be greater than 0.</small>
    <small class="text-danger" *ngIf="updateSeedForm.controls['stock'].hasError('max')"
    class="error-message12">Seed Stock must be less than or equal to 3000.</small>
  </div>
  </div>
  <div class ="form-group-form">
    <label for="cost"></label>
    <input type="number" id="cost" name="cost" placeholder="Enter Seed Cost" [(ngModel)]="seed.cost" required min="0" max="100000">
    <div
    *ngIf="updateSeedForm.controls['cost'].invalid && (updateSeedForm.controls['cost'].dirty || updateSeedForm.controls['cost'].touched)">
    <small class="text-danger" *ngIf="updateSeedForm.controls['cost'].hasError('required')"
    class="error-message">Cost is required.</small>
    <small class="text-danger" *ngIf="updateSeedForm.controls['cost'].hasError('min')"
    class="error-message12">Cost must be greater than 0.</small>
    <small class="text-danger" *ngIf="updateSeedForm.controls['cost'].hasError('max')"
    class="error-message">Cost must be less than or equal to 100000".</small>
  </div>
  </div>
  <div class ="form-group-form">
    <label for="seedsPerPacket"></label>
    <input type="number" id="seedsPerPacket" name="seedsPerPacket" placeholder="Enter Seeds Per Packet" [(ngModel)]="seed.seedsPerPacket" required min="1" max="100000">
    <div
    *ngIf="updateSeedForm.controls['seedsPerPacket'].invalid && (updateSeedForm.controls['seedsPerPacket'].dirty || updateSeedForm.controls['seedsPerPacket'].touched)">
    <small class="text-danger" *ngIf="updateSeedForm.controls['seedsPerPacket'].hasError('required')"
    class="error-message">Seeds Per Packet is required.</small>
    <small class="text-danger" *ngIf="updateSeedForm.controls['seedsPerPacket'].hasError('min')"
        class="error-message">Seeds Per Packet must greater than zero".</small>
        <small class="text-danger" *ngIf="updateSeedForm.controls['seedsPerPacket'].hasError('max')"
        class="error-message">Seeds Per Packet must less than or equal to 100000".</small>
  </div>
</div>
<button type="submit"  (click)="searchHelper2()">Update</button>

</form>

<p>{{responseMsg}}</p>
</div>
  </div>
</div>

<div class="planter-form" *ngIf="showTable && userType === 'administrator'">

<div>
  <table>
    <tr>
  <th>Seed Id</th>
  <th>Common Name </th>
  <th>Bloom Time</th>
  <th>Watering</th>
  <th>Difficulty Level</th>
  <th>Temperature</th>
  <th>Type Of Seed</th>
  <th>Description</th>
  <th>Stock</th>
  <th>Cost</th>
  <th>Seeds Per Packet</th>
  <th>Update</th>
    <th>Delete</th>

</tr>
<tbody>
  <ng-container
      *ngFor="let d of seedList.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
      <tr>
            <td>{{d.seedId}}</td>
            <td>{{d.commonName}}</td>
            <td>{{d.bloomTime}}</td>
            <td>{{d.watering}}</td>
            <td>{{d.difficultyLevel}}</td>
            <td>{{d.temperature}}</td>
            <td>{{d.typeOfSeed}}</td>
            <td>{{d.description}}</td>
            <td>{{d.stock}}</td>
            <td>{{d.cost}}</td>
            <td>{{d.seedsPerPacket}}</td>
            <td><button type="button" (click)="editOrder(d)">Update</button></td>
                        <td><button type="button" (click)="deleteSeedById(d.seedId)">Delete</button></td>
                      
          </tr>
        </ng-container>
    </tbody>
</table>
</div>
<button class="pagination" *ngFor="let page of totalPages" (click)="setCurrentPage(page)">
  {{ page }}
</button>
<button class="pagination" (click)="previousPage()">Previous</button>
<button class="pagination" (click)="nextPage()">Next</button>
<p>{{responseMsg}}</p>
</div>



<div class="planter-form" *ngIf="showTable  && userType === 'customer'">
<div>
  <table>
    <tr>
  <th>Seed Id</th>
  <th>Common Name </th>
  <th>Bloom Time</th>
  <th>Watering</th>
  <th>Difficulty Level</th>
  <th>Temperature</th>
  <th>Seed Type</th>
  <th>Description</th>
  <th>Stock</th>
  <th>Cost</th>
  <th>Seeds/pkt</th>
  <th>Add To Cart</th>
</tr>
<tbody>
  <ng-container
      *ngFor="let d of seedList.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
      <tr>
            <td>{{d.seedId}}</td>
            <td>{{d.commonName}}</td>
            <td>{{d.bloomTime}}</td>
            <td>{{d.watering}}</td>
            <td>{{d.difficultyLevel}}</td>
            <td>{{d.temperature}}</td>
            <td>{{d.typeOfSeed}}</td>
            <td>{{d.description}}</td>
            <td>{{d.stock}}</td>
            <td>{{d.cost}}</td>
            <td>{{d.seedsPerPacket}}</td>
                        <td><button type="button" (click)="addToCart(d)">Add to cart</button></td>
          </tr>
        </ng-container>
    </tbody>
</table>
</div>
<button class="pagination" *ngFor="let page of totalPages" (click)="setCurrentPage(page)">
  {{ page }}
</button>
<button class="pagination" (click)="previousPage()">Previous</button>
<button class="pagination" (click)="nextPage()">Next</button>
<p>{{responseMsg}}</p>
</div>



<div *ngIf="!showTable">
  <p>{{responseMsg}}</p>
</div>






















